body{
  text-align: center;
  background-color: #393E46;
}
h1{
  font-size: 8rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
}
.dice {
  text-align: center;
  display: inline-block;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
.copyright
{
  margin-top: 100px;
  color: white;
  font-size: 1rem;
}
.image1{
  width: 80%;
}
.image2{
  width: 80%
}
